#  Movie Recommendation Using ML

## Importing and Installing Dependencies

In [174]:
import numpy as np

In [6]:
pip install pandas

Collecting pandas
  Downloading pandas-2.2.3-cp312-cp312-win_amd64.whl.metadata (19 kB)
Requirement already satisfied: numpy>=1.26.0 in c:\users\aniru\miniconda3\lib\site-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\aniru\miniconda3\lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\aniru\miniconda3\lib\site-packages (from pandas) (2024.1)
Collecting tzdata>=2022.7 (from pandas)
  Downloading tzdata-2024.2-py2.py3-none-any.whl.metadata (1.4 kB)
Requirement already satisfied: six>=1.5 in c:\users\aniru\miniconda3\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Downloading pandas-2.2.3-cp312-cp312-win_amd64.whl (11.5 MB)
   ---------------------------------------- 0.0/11.5 MB ? eta -:--:--
   ---------------------------------------- 0.0/11.5 MB ? eta -:--:--
   ---------------------------------------- 0.0/11.5 MB ? eta -:--:--
   ---------------------------------------- 0.0/11.5 MB ? eta -:--:--
    --------------------------------------- 0.3/11.5 MB ? eta -:--:--
    --------------------------------------- 0.3/11.5 MB ? eta -:--:--
   - -------------------------------------- 0.5/11.5 MB 558.9 kB/s eta 0:00:20
   -- ------------------------------------- 0.8/11.5 MB 762.0 kB/s eta 0:00:15
   -- ------------------------------------- 0.8/11.5 MB 762.0 kB/s eta 0:00:15
   --- ------------------------------------ 1.0/11.5 MB 762.0 kB/s eta 0:00:14
   --- ------------------------------------ 1.0/11.5 MB 762.0 kB/s eta 0:00:14
   --- ------------------------------------ 1.0/11.5 MB 762.0 kB/s eta 0:00:14
   ---- ----------------------------------- 1.3/11.5 MB 578.4 kB/s eta 0:00:18
   ---- ----------------------------------- 1.3/11.5 MB 578.4 kB/s eta 0:00:18
   ---- ----------------------------------- 1.3/11.5 MB 578.4 kB/s eta 0:00:18
   ----- ---------------------------------- 1.6/11.5 MB 574.4 kB/s eta 0:00:18
   ----- ---------------------------------- 1.6/11.5 MB 574.4 kB/s eta 0:00:18
   ------ --------------------------------- 1.8/11.5 MB 572.0 kB/s eta 0:00:17
   ------ --------------------------------- 1.8/11.5 MB 572.0 kB/s eta 0:00:17
   ------- -------------------------------- 2.1/11.5 MB 584.2 kB/s eta 0:00:17
   -------- ------------------------------- 2.4/11.5 MB 601.8 kB/s eta 0:00:16
   -------- ------------------------------- 2.4/11.5 MB 601.8 kB/s eta 0:00:16
   --------- ------------------------------ 2.6/11.5 MB 618.8 kB/s eta 0:00:15
   --------- ------------------------------ 2.6/11.5 MB 618.8 kB/s eta 0:00:15
   ---------- ----------------------------- 2.9/11.5 MB 619.0 kB/s eta 0:00:14
   ---------- ----------------------------- 3.1/11.5 MB 640.8 kB/s eta 0:00:14
   ----------- ---------------------------- 3.4/11.5 MB 662.3 kB/s eta 0:00:13
   ------------ --------------------------- 3.7/11.5 MB 683.6 kB/s eta 0:00:12
   ------------ --------------------------- 3.7/11.5 MB 683.6 kB/s eta 0:00:12
   ------------- -------------------------- 3.9/11.5 MB 682.8 kB/s eta 0:00:12
   -------------- ------------------------- 4.2/11.5 MB 695.1 kB/s eta 0:00:11
   -------------- ------------------------- 4.2/11.5 MB 695.1 kB/s eta 0:00:11
   --------------- ------------------------ 4.5/11.5 MB 713.9 kB/s eta 0:00:10
   ---------------- ----------------------- 4.7/11.5 MB 731.3 kB/s eta 0:00:10
   ----------------- ---------------------- 5.0/11.5 MB 747.4 kB/s eta 0:00:09
   ------------------ --------------------- 5.2/11.5 MB 757.2 kB/s eta 0:00:09
   ------------------- -------------------- 5.5/11.5 MB 774.9 kB/s eta 0:00:08
   -------------------- ------------------- 5.8/11.5 MB 788.1 kB/s eta 0:00:08
   -------------------- ------------------- 6.0/11.5 MB 802.3 kB/s eta 0:00:07
   ---------------------- ----------------- 6.6/11.5 MB 830.2 kB/s eta 0:00:06
   ----------------------- ---------------- 6.8/11.5 MB 842.1 kB/s eta 0:00:06
   ----------------------- ---------------- 6.8/11.5 MB 842.1 kB/s eta 0:00:06
   ----------------------- ---------------- 6.8/11.5 MB 842.1 kB/s eta 0:00:06
   ------------------------ --------------- 7.1/11.5 MB 809.3 kB/s eta 0:00:06
   ------------------------ --------------- 7.1/11.5 MB 809.3 kB/s eta 0:00:06
   ------------------------- -------------- 7.3/11.5 MB 817.6 kB/s eta 0:00:06
   -------------------------- ------------- 7.6/11.5 MB 814.1 kB/s eta 0:00:05
   --------------------------- ------------ 7.9/11.5 MB 819.0 kB/s eta 0:00:05
   --------------------------- ------------ 7.9/11.5 MB 819.0 kB/s eta 0:00:05
   ----------------------------- ---------- 8.4/11.5 MB 840.2 kB/s eta 0:00:04
   ------------------------------ --------- 8.7/11.5 MB 849.5 kB/s eta 0:00:04
   ------------------------------ --------- 8.9/11.5 MB 858.4 kB/s eta 0:00:04
   ------------------------------ --------- 8.9/11.5 MB 858.4 kB/s eta 0:00:04
   ------------------------------ --------- 8.9/11.5 MB 858.4 kB/s eta 0:00:04
   ------------------------------ --------- 8.9/11.5 MB 858.4 kB/s eta 0:00:04
   ------------------------------- -------- 9.2/11.5 MB 818.4 kB/s eta 0:00:03
   ------------------------------- -------- 9.2/11.5 MB 818.4 kB/s eta 0:00:03
   -------------------------------- ------- 9.4/11.5 MB 814.4 kB/s eta 0:00:03
   -------------------------------- ------- 9.4/11.5 MB 814.4 kB/s eta 0:00:03
   --------------------------------- ------ 9.7/11.5 MB 808.5 kB/s eta 0:00:03
   --------------------------------- ------ 9.7/11.5 MB 808.5 kB/s eta 0:00:03
   --------------------------------- ------ 9.7/11.5 MB 808.5 kB/s eta 0:00:03
   ---------------------------------- ----- 10.0/11.5 MB 785.8 kB/s eta 0:00:02
   ---------------------------------- ----- 10.0/11.5 MB 785.8 kB/s eta 0:00:02
   ----------------------------------- ---- 10.2/11.5 MB 775.6 kB/s eta 0:00:02
   ----------------------------------- ---- 10.2/11.5 MB 775.6 kB/s eta 0:00:02
   ----------------------------------- ---- 10.2/11.5 MB 775.6 kB/s eta 0:00:02
   ------------------------------------ --- 10.5/11.5 MB 760.0 kB/s eta 0:00:02
   ------------------------------------ --- 10.5/11.5 MB 760.0 kB/s eta 0:00:02
   ------------------------------------ --- 10.5/11.5 MB 760.0 kB/s eta 0:00:02
   ------------------------------------ --- 10.5/11.5 MB 760.0 kB/s eta 0:00:02
   ------------------------------------ --- 10.5/11.5 MB 760.0 kB/s eta 0:00:02
   ------------------------------------- -- 10.7/11.5 MB 723.9 kB/s eta 0:00:02
   ------------------------------------- -- 10.7/11.5 MB 723.9 kB/s eta 0:00:02
   ------------------------------------- -- 10.7/11.5 MB 723.9 kB/s eta 0:00:02
   -------------------------------------- - 11.0/11.5 MB 710.6 kB/s eta 0:00:01
   -------------------------------------- - 11.0/11.5 MB 710.6 kB/s eta 0:00:01
   ---------------------------------------  11.3/11.5 MB 706.0 kB/s eta 0:00:01
   ---------------------------------------  11.3/11.5 MB 706.0 kB/s eta 0:00:01
   ---------------------------------------- 11.5/11.5 MB 701.2 kB/s eta 0:00:00
Downloading tzdata-2024.2-py2.py3-none-any.whl (346 kB)
Installing collected packages: tzdata, pandas
Successfully installed pandas-2.2.3 tzdata-2024.2
Note: you may need to restart the kernel to use updated packages.

In [175]:
import pandas as pd

In [176]:
import ast

## Data Preprocessing

In [177]:
movies = pd.read_csv('tmdb_5000_movies.csv')
credits = pd.read_csv('tmdb_5000_credits.csv')

In [179]:
movies.head(1)

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,vote_average,vote_count
0,237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2009-12-10,2787965087,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800

In [180]:
credits.head(1)

,movie_id,title,cast,crew
0,19995,Avatar,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."

In [181]:
movies = movies.merge(credits,on='title')

In [182]:
movies.head(1)

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,...,runtime,spoken_languages,status,tagline,title,vote_average,vote_count,movie_id,cast,crew
0,237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...",...,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800,19995,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."

In [183]:
movies.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4809 entries, 0 to 4808
Data columns (total 23 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   budget                4809 non-null   int64
 1   genres                4809 non-null   object
 2   homepage              1713 non-null   object
 3   id                    4809 non-null   int64
 4   keywords              4809 non-null   object
 5   original_language     4809 non-null   object
 6   original_title        4809 non-null   object
 7   overview              4806 non-null   object
 8   popularity            4809 non-null   float64
 9   production_companies  4809 non-null   object
 10  production_countries  4809 non-null   object
 11  release_date          4808 non-null   object
 12  revenue               4809 non-null   int64
 13  runtime               4807 non-null   float64
 14  spoken_languages      4809 non-null   object
 15  status                4809 non-null   object
 16  tagline               3965 non-null   object
 17  title                 4809 non-null   object
 18  vote_average          4809 non-null   float64
 19  vote_count            4809 non-null   int64
 20  movie_id              4809 non-null   int64
 21  cast                  4809 non-null   object
 22  crew                  4809 non-null   object
dtypes: float64(3), int64(5), object(15)
memory usage: 864.2+ KB

In [184]:
movies = movies[['movie_id','title','overview','genres','keywords','cast','crew']]

In [185]:
movies.head(1)

,movie_id,title,overview,genres,keywords,cast,crew
0,19995,Avatar,"In the 22nd century, a paraplegic Marine is di...","[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...","[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...","[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."

In [186]:
movies.isnull().sum()

movie_id    0
title       0
overview    3
genres      0
keywords    0
cast        0
crew        0
dtype: int64

In [187]:
movies.dropna(inplace=True)

In [188]:
movies.duplicated().sum()

0

In [189]:
movies.iloc[0].genres

'[{"id": 28, "name": "Action"}, {"id": 12, "name": "Adventure"}, {"id": 14, "name": "Fantasy"}, {"id": 878, "name": "Science Fiction"}]'

In [190]:
def convert(obj):
    L = []
    for i in ast.literal_eval(obj):
        L.append(i['name'])
    return L

In [191]:
movies.head()

,movie_id,title,overview,genres,keywords,cast,crew
0,19995,Avatar,"In the 22nd century, a paraplegic Marine is di...","[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...","[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...","[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,285,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...","[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...","[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...","[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."
2,206647,Spectre,A cryptic message from Bond’s past sends him o...,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...","[{""id"": 470, ""name"": ""spy""}, {""id"": 818, ""name...","[{""cast_id"": 1, ""character"": ""James Bond"", ""cr...","[{""credit_id"": ""54805967c3a36829b5002c41"", ""de..."
3,49026,The Dark Knight Rises,Following the death of District Attorney Harve...,"[{""id"": 28, ""name"": ""Action""}, {""id"": 80, ""nam...","[{""id"": 849, ""name"": ""dc comics""}, {""id"": 853,...","[{""cast_id"": 2, ""character"": ""Bruce Wayne / Ba...","[{""credit_id"": ""52fe4781c3a36847f81398c3"", ""de..."
4,49529,John Carter,"John Carter is a war-weary, former military ca...","[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...","[{""id"": 818, ""name"": ""based on novel""}, {""id"":...","[{""cast_id"": 5, ""character"": ""John Carter"", ""c...","[{""credit_id"": ""52fe479ac3a36847f813eaa3"", ""de..."

In [192]:
movies['keywords']=movies['keywords'].apply(convert)

In [193]:
movies['genres']=movies['genres'].apply(convert)

In [194]:
def convert3(obj):
    L = []
    counter=0
    for i in ast.literal_eval(obj):
        if counter !=3 :
            L.append(i['name'])
            counter+=1
        else:
            break
    return L

In [195]:
movies['cast']=movies['cast'].apply(convert3)

In [196]:
movies.head()

,movie_id,title,overview,genres,keywords,cast,crew
0,19995,Avatar,"In the 22nd century, a paraplegic Marine is di...","[Action, Adventure, Fantasy, Science Fiction]","[culture clash, future, space war, space colon...","[Sam Worthington, Zoe Saldana, Sigourney Weaver]","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,285,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...","[Adventure, Fantasy, Action]","[ocean, drug abuse, exotic island, east india ...","[Johnny Depp, Orlando Bloom, Keira Knightley]","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."
2,206647,Spectre,A cryptic message from Bond’s past sends him o...,"[Action, Adventure, Crime]","[spy, based on novel, secret agent, sequel, mi...","[Daniel Craig, Christoph Waltz, Léa Seydoux]","[{""credit_id"": ""54805967c3a36829b5002c41"", ""de..."
3,49026,The Dark Knight Rises,Following the death of District Attorney Harve...,"[Action, Crime, Drama, Thriller]","[dc comics, crime fighter, terrorist, secret i...","[Christian Bale, Michael Caine, Gary Oldman]","[{""credit_id"": ""52fe4781c3a36847f81398c3"", ""de..."
4,49529,John Carter,"John Carter is a war-weary, former military ca...","[Action, Adventure, Science Fiction]","[based on novel, mars, medallion, space travel...","[Taylor Kitsch, Lynn Collins, Samantha Morton]","[{""credit_id"": ""52fe479ac3a36847f813eaa3"", ""de..."

In [197]:
def fetch_director(obj):
    L = []
    for i in ast.literal_eval(obj):
        if i['job'] == 'Director':
            L.append(i['name'])
            break
    return L

In [198]:
movies['crew']=movies['crew'].apply(fetch_director)

In [199]:
movies.head()

,movie_id,title,overview,genres,keywords,cast,crew
0,19995,Avatar,"In the 22nd century, a paraplegic Marine is di...","[Action, Adventure, Fantasy, Science Fiction]","[culture clash, future, space war, space colon...","[Sam Worthington, Zoe Saldana, Sigourney Weaver]",[James Cameron]
1,285,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...","[Adventure, Fantasy, Action]","[ocean, drug abuse, exotic island, east india ...","[Johnny Depp, Orlando Bloom, Keira Knightley]",[Gore Verbinski]
2,206647,Spectre,A cryptic message from Bond’s past sends him o...,"[Action, Adventure, Crime]","[spy, based on novel, secret agent, sequel, mi...","[Daniel Craig, Christoph Waltz, Léa Seydoux]",[Sam Mendes]
3,49026,The Dark Knight Rises,Following the death of District Attorney Harve...,"[Action, Crime, Drama, Thriller]","[dc comics, crime fighter, terrorist, secret i...","[Christian Bale, Michael Caine, Gary Oldman]",[Christopher Nolan]
4,49529,John Carter,"John Carter is a war-weary, former military ca...","[Action, Adventure, Science Fiction]","[based on novel, mars, medallion, space travel...","[Taylor Kitsch, Lynn Collins, Samantha Morton]",[Andrew Stanton]

In [200]:
movies['overview']=movies['overview'].apply(lambda x:x.split())

In [201]:
movies.head()

,movie_id,title,overview,genres,keywords,cast,crew
0,19995,Avatar,"[In, the, 22nd, century,, a, paraplegic, Marin...","[Action, Adventure, Fantasy, Science Fiction]","[culture clash, future, space war, space colon...","[Sam Worthington, Zoe Saldana, Sigourney Weaver]",[James Cameron]
1,285,Pirates of the Caribbean: At World's End,"[Captain, Barbossa,, long, believed, to, be, d...","[Adventure, Fantasy, Action]","[ocean, drug abuse, exotic island, east india ...","[Johnny Depp, Orlando Bloom, Keira Knightley]",[Gore Verbinski]
2,206647,Spectre,"[A, cryptic, message, from, Bond’s, past, send...","[Action, Adventure, Crime]","[spy, based on novel, secret agent, sequel, mi...","[Daniel Craig, Christoph Waltz, Léa Seydoux]",[Sam Mendes]
3,49026,The Dark Knight Rises,"[Following, the, death, of, District, Attorney...","[Action, Crime, Drama, Thriller]","[dc comics, crime fighter, terrorist, secret i...","[Christian Bale, Michael Caine, Gary Oldman]",[Christopher Nolan]
4,49529,John Carter,"[John, Carter, is, a, war-weary,, former, mili...","[Action, Adventure, Science Fiction]","[based on novel, mars, medallion, space travel...","[Taylor Kitsch, Lynn Collins, Samantha Morton]",[Andrew Stanton]

In [202]:
movies['genres']=movies['genres'].apply(lambda x:[i.replace(" ","") for i in x])
movies['keywords']=movies['keywords'].apply(lambda x:[i.replace(" ","") for i in x])
movies['cast']=movies['cast'].apply(lambda x:[i.replace(" ","") for i in x])
movies['crew']=movies['crew'].apply(lambda x:[i.replace(" ","") for i in x])

In [203]:
movies.head()

,movie_id,title,overview,genres,keywords,cast,crew
0,19995,Avatar,"[In, the, 22nd, century,, a, paraplegic, Marin...","[Action, Adventure, Fantasy, ScienceFiction]","[cultureclash, future, spacewar, spacecolony, ...","[SamWorthington, ZoeSaldana, SigourneyWeaver]",[JamesCameron]
1,285,Pirates of the Caribbean: At World's End,"[Captain, Barbossa,, long, believed, to, be, d...","[Adventure, Fantasy, Action]","[ocean, drugabuse, exoticisland, eastindiatrad...","[JohnnyDepp, OrlandoBloom, KeiraKnightley]",[GoreVerbinski]
2,206647,Spectre,"[A, cryptic, message, from, Bond’s, past, send...","[Action, Adventure, Crime]","[spy, basedonnovel, secretagent, sequel, mi6, ...","[DanielCraig, ChristophWaltz, LéaSeydoux]",[SamMendes]
3,49026,The Dark Knight Rises,"[Following, the, death, of, District, Attorney...","[Action, Crime, Drama, Thriller]","[dccomics, crimefighter, terrorist, secretiden...","[ChristianBale, MichaelCaine, GaryOldman]",[ChristopherNolan]
4,49529,John Carter,"[John, Carter, is, a, war-weary,, former, mili...","[Action, Adventure, ScienceFiction]","[basedonnovel, mars, medallion, spacetravel, p...","[TaylorKitsch, LynnCollins, SamanthaMorton]",[AndrewStanton]

In [204]:
movies['tag']=movies['overview']+movies['genres']+movies['keywords']+movies['cast']+movies['crew']

In [205]:
movies.head()

,movie_id,title,overview,genres,keywords,cast,crew,tag
0,19995,Avatar,"[In, the, 22nd, century,, a, paraplegic, Marin...","[Action, Adventure, Fantasy, ScienceFiction]","[cultureclash, future, spacewar, spacecolony, ...","[SamWorthington, ZoeSaldana, SigourneyWeaver]",[JamesCameron],"[In, the, 22nd, century,, a, paraplegic, Marin..."
1,285,Pirates of the Caribbean: At World's End,"[Captain, Barbossa,, long, believed, to, be, d...","[Adventure, Fantasy, Action]","[ocean, drugabuse, exoticisland, eastindiatrad...","[JohnnyDepp, OrlandoBloom, KeiraKnightley]",[GoreVerbinski],"[Captain, Barbossa,, long, believed, to, be, d..."
2,206647,Spectre,"[A, cryptic, message, from, Bond’s, past, send...","[Action, Adventure, Crime]","[spy, basedonnovel, secretagent, sequel, mi6, ...","[DanielCraig, ChristophWaltz, LéaSeydoux]",[SamMendes],"[A, cryptic, message, from, Bond’s, past, send..."
3,49026,The Dark Knight Rises,"[Following, the, death, of, District, Attorney...","[Action, Crime, Drama, Thriller]","[dccomics, crimefighter, terrorist, secretiden...","[ChristianBale, MichaelCaine, GaryOldman]",[ChristopherNolan],"[Following, the, death, of, District, Attorney..."
4,49529,John Carter,"[John, Carter, is, a, war-weary,, former, mili...","[Action, Adventure, ScienceFiction]","[basedonnovel, mars, medallion, spacetravel, p...","[TaylorKitsch, LynnCollins, SamanthaMorton]",[AndrewStanton],"[John, Carter, is, a, war-weary,, former, mili..."

In [206]:
new_df=movies[['movie_id','title','tag']]

In [207]:
new_df

,movie_id,title,tag
0,19995,Avatar,"[In, the, 22nd, century,, a, paraplegic, Marin..."
1,285,Pirates of the Caribbean: At World's End,"[Captain, Barbossa,, long, believed, to, be, d..."
2,206647,Spectre,"[A, cryptic, message, from, Bond’s, past, send..."
3,49026,The Dark Knight Rises,"[Following, the, death, of, District, Attorney..."
4,49529,John Carter,"[John, Carter, is, a, war-weary,, former, mili..."
...,...,...,...
4804,9367,El Mariachi,"[El, Mariachi, just, wants, to, play, his, gui..."
4805,72766,Newlyweds,"[A, newlywed, couple's, honeymoon, is, upended..."
4806,231617,"Signed, Sealed, Delivered","[""Signed,, Sealed,, Delivered"", introduces, a,..."
4807,126186,Shanghai Calling,"[When, ambitious, New, York, attorney, Sam, is..."
4808,25975,My Date with Drew,"[Ever, since, the, second, grade, when, he, fi..."

In [208]:
new_df['tag']=new_df['tag'].apply(lambda x:" ".join(x))

C:\Users\aniru\AppData\Local\Temp\ipykernel_13696\4079141722.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df['tag']=new_df['tag'].apply(lambda x:" ".join(x))

In [209]:
new_df.head()

,movie_id,title,tag
0,19995,Avatar,"In the 22nd century, a paraplegic Marine is di..."
1,285,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha..."
2,206647,Spectre,A cryptic message from Bond’s past sends him o...
3,49026,The Dark Knight Rises,Following the death of District Attorney Harve...
4,49529,John Carter,"John Carter is a war-weary, former military ca..."

In [221]:
!pip install nltk

Collecting nltk
  Downloading nltk-3.9.1-py3-none-any.whl.metadata (2.9 kB)
Collecting click (from nltk)
  Downloading click-8.1.8-py3-none-any.whl.metadata (2.3 kB)
Requirement already satisfied: joblib in c:\users\aniru\miniconda3\lib\site-packages (from nltk) (1.4.2)
Collecting regex>=2021.8.3 (from nltk)
  Downloading regex-2024.11.6-cp312-cp312-win_amd64.whl.metadata (41 kB)
Requirement already satisfied: tqdm in c:\users\aniru\miniconda3\lib\site-packages (from nltk) (4.66.5)
Requirement already satisfied: colorama in c:\users\aniru\miniconda3\lib\site-packages (from click->nltk) (0.4.6)
Downloading nltk-3.9.1-py3-none-any.whl (1.5 MB)
   ---------------------------------------- 0.0/1.5 MB ? eta -:--:--
   ---------------------------------------- 0.0/1.5 MB ? eta -:--:--
   ---------------------------------------- 0.0/1.5 MB ? eta -:--:--
   ------ --------------------------------- 0.3/1.5 MB ? eta -:--:--
   ------------- -------------------------- 0.5/1.5 MB 1.3 MB/s eta 0:00:01
   ------------- -------------------------- 0.5/1.5 MB 1.3 MB/s eta 0:00:01
   -------------------- ------------------- 0.8/1.5 MB 799.2 kB/s eta 0:00:01
   --------------------------- ------------ 1.0/1.5 MB 949.8 kB/s eta 0:00:01
   ---------------------------------- ----- 1.3/1.5 MB 860.2 kB/s eta 0:00:01
   ---------------------------------------- 1.5/1.5 MB 946.9 kB/s eta 0:00:00
Downloading regex-2024.11.6-cp312-cp312-win_amd64.whl (273 kB)
Downloading click-8.1.8-py3-none-any.whl (98 kB)
Installing collected packages: regex, click, nltk
Successfully installed click-8.1.8 nltk-3.9.1 regex-2024.11.6

In [222]:
import nltk

In [223]:
from nltk.stem.porter import PorterStemmer
ps = PorterStemmer()

In [224]:
def stem(text):
    y = []
    for i in  text.split():
        y.append(ps.stem(i))
    return " ".join(y)

In [225]:
new_df['tag']=new_df['tag'].apply(stem)

C:\Users\aniru\AppData\Local\Temp\ipykernel_13696\599176683.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df['tag']=new_df['tag'].apply(stem)

In [210]:
new_df['tag'][0]

'In the 22nd century, a paraplegic Marine is dispatched to the moon Pandora on a unique mission, but becomes torn between following orders and protecting an alien civilization. Action Adventure Fantasy ScienceFiction cultureclash future spacewar spacecolony society spacetravel futuristic romance space alien tribe alienplanet cgi marine soldier battle loveaffair antiwar powerrelations mindandsoul 3d SamWorthington ZoeSaldana SigourneyWeaver JamesCameron'

In [211]:
new_df['tag']=new_df['tag'].apply(lambda x:x.lower())

C:\Users\aniru\AppData\Local\Temp\ipykernel_13696\1740795540.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df['tag']=new_df['tag'].apply(lambda x:x.lower())

In [212]:
new_df.head()

,movie_id,title,tag
0,19995,Avatar,"in the 22nd century, a paraplegic marine is di..."
1,285,Pirates of the Caribbean: At World's End,"captain barbossa, long believed to be dead, ha..."
2,206647,Spectre,a cryptic message from bond’s past sends him o...
3,49026,The Dark Knight Rises,following the death of district attorney harve...
4,49529,John Carter,"john carter is a war-weary, former military ca..."

## Vectorization

In [245]:
from sklearn.feature_extraction.text import CountVectorizer

In [246]:
cv = CountVectorizer(max_features=5000, stop_words='english')

In [247]:
vectors = cv.fit_transform(new_df['tag']).toarray()

In [248]:
vectors[0]

array([0, 0, 0, ..., 0, 0, 0], dtype=int64)

In [249]:
cv.get_feature_names_out()

array(['000', '007', '10', ..., 'zone', 'zoo', 'zooeydeschanel'],
      dtype=object)

In [250]:
from sklearn.metrics.pairwise import cosine_similarity

In [253]:
similarity=cosine_similarity(vectors)

In [255]:
sorted(list(enumerate(similarity[0])),reverse=True,key=lambda x:x[1])[1:6]

[(1214, 0.28676966733820225),
 (2405, 0.26901379342448517),
 (3728, 0.2605130246476754),
 (507, 0.255608593705383),
 (539, 0.25038669783359574)]

In [257]:
def recommend(movie):
    movie_index = new_df[new_df['title'] == movie].index[0]
    distances = similarity[movie_index]
    movies_list = sorted(list(enumerate(distances)),reverse=True,key=lambda x:x[1])[1:6]
    for i in movies_list:
        print(new_df.iloc[i[0]].title)

In [262]:
recommend('Aliens')

Alien
Alien³
Meet Dave
Star Trek: Insurrection
Escape from Planet Earth

In [263]:
import pickle

In [266]:
pickle.dump(new_df.to_dict(),open('movie_dict.pkl','wb'))

In [267]:
pickle.dump(similarity,open('similarity.pkl','wb'))